@charset "utf-8";

/*Typical device Breakpoints*/

@media screen and (min-width: 992px){
    header{
        margin-top: 10px;
    }
    .mobile-menu{
        display: none;
    }

    .logo{
        margin: auto;

        
    }
    .nav-list{
        position: absolute;
        right: 10px; 
        margin-right:20px ;
    
    }

    .espaco{
        display: none;
    }

    .info{
        text-align: left;
    }
}